<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/demo</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- To update Table if Schema changes in Code (preferred in Prod -->
        <property  name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- To Drop existing and create new Table if Schema changes in Code (preferred in DEV) -->
        <!-- <property  name="hibernate.hbm2ddl.auto">create</property> -->

        <!-- To print exection Queries -->
        <property name="hibernate.show_sql">true</property>
        <!-- <property name="hibernate.format_sql">true</property> -->
    </session-factory>
</hibernate-configuration>